<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'task/style.css' %}">
    <title>todo</title>
</head>

<!-- <style>
    body{
    margin: 0;
    padding: 0;
    background-color: yellow;
}
</style> -->

<body>
    
    <div class="main-box">
        <h1 class="heading">To Do</h1>
        <br>

        <form method="POST" action="/">
            {% csrf_token %}
            {{ form.title }}
            <input type="submit" value = "Add Task">
        </form>

        <br>
        {% for task in tasks %}
        <div class="list-box">
            <div class="btns">
            <a href="{% url 'task_update' task.id %}"><p class="clicks up">Update</p></a>
            <a href="{% url 'task_delete' task.id %}"><p class="clicks del">Delete</p></a>
            
            
            {% if task.status == True %}
            <h3><strike>{{task}}</strike></h3>
            {% else %}
            <h3><span>{{task}}</span></h3>
            {% endif %}
            <br>
        </div>
        </div>
        {% endfor %}
        

    </div>
</body>
</html>